.footer {
  align-items: center;
  background-color: $blue;
  color: $white;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  padding: 40px 20px 30px;
  text-align: center;

  .footer-disc {
    font-size: $text-big;
    margin: 0 0 12px;
    text-transform: uppercase;
  }

  .footer-copyright {
    align-self: flex-end;
    font-size: 11px;
    font-weight: 300;
  }

  @media #{$break-point} {
    .footer-disc {
      font-size: $text-small;
    }

    .footer-logo {
      margin-bottom: 40px;
      max-height: 25px;
    }

    .footer-copyright {
      align-self: center;
      font-size: 10px;
    }
  }
}
