.page-container {
  display: flex;
  flex-direction: column;
}

.techs-container {
  margin: 160px auto 0;
  max-width: 1125px;

  .techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 65px 100px;
  }
}
