.techs {
  padding: 12px;

  .tech {
    align-items: center;
    background-color: $green;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 310px;
    margin: 10px 0 0 10px;
    max-width: 215px;
    padding: 12px;
    position: relative;
    text-align: center;
    width: 100%;

    .logo {
      display: block;
      margin-bottom: 10px;
      max-width: 100px;
    }

    .title {
      font-size: $text-medium;
      margin-bottom: 10px;
    }

    .release {
      font-weight: 700;
      margin-bottom: 12px;
    }

    &::before {
      border: 1px solid $green;
      border-radius: 7px;
      content: "";
      flex: none;
      height: 308px;
      left: -10px;
      max-width: 213px;
      position: absolute;
      top: -10px;
      width: 100%;
      z-index: -1;
    }
  }
}
