.techs {
  padding: 12px;

  .tech {
    align-items: center;
    background-color: $green;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 310px;
    margin: 10px 0 0 10px;
    max-width: 215px;
    padding: 12px;
    position: relative;
    text-align: center;
    width: 100%;

    .tech-logo {
      margin-bottom: 12px;
      max-width: 100%;
      height: 100px;
    }

    .tech-title {
      font-size: $text-medium;
    }

    .tech-release {
      font-weight: 700;
      margin: 10px 0 24px;
    }

    &::before {
      border: 1px solid $green;
      border-radius: 7px;
      content: "";
      height: 308px;
      left: -10px;
      max-width: 213px;
      position: absolute;
      top: -10px;
      width: 100%;
      z-index: -1;
    }
  }
}
