.title {
  align-items: center;
  display: flex;
  color: $black;
  font-size: 1.45rem;

  &::before {
    background: url("assets/triangle.svg") center center no-repeat;
    content: '';
    height: 90px;
    margin-right: -1.1rem;
    width: 70px;
  }
}
