.title {
  align-items: center;
  color: $black;
  display: flex;
  font-size: $text-big;
  margin-bottom: 12px;

  &::before {
    background: url("assets/triangle.svg") center center no-repeat;
    content: '';
    height: 90px;
    margin-right: -18px;
    width: 70px;
  }
}
