.title {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;

  &-icon {
    background: url("assets/triangle.svg") center center no-repeat;
    height: 90px;
    width: 70px;
  }

  &-content {
    color: $black;
    margin-left: -1.1rem;
    font-size: 1.45rem;
    @include font($font-family);
  }
}
