.btn {
  background-color: $green;
  border: 2px solid transparent;
  border-radius: 7px;
  color: $white;
  padding: 12px 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($green, 10%);
  }

  &.btn-outline {
    background-color: transparent;
    border: 2px solid $green;
    color: $green;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  &.btn-light {
    background-color: transparent;
    color: $black;

    &:hover {
      background-color: $wild-sand;
    }
  }
}
