.form {
  display: flex;
  flex-direction: column;

  .label {
    line-height: 2;
    margin-bottom: 10px;
  }

  .input {
    border-radius: 7px;
    display: block;
    padding: 10px;
    width: 100%;

    &.ng-invalid.ng-touched,
    &.invalid {
      border: 1px solid $red;
    }
  }

  .alert {
    align-self: flex-start;
    font-size: 11px;
    color: $red;
  }
}