<div class="header">
  <div class="container">
    <img src="../../../../assets/logo.png" class="logo" />
    <button type="button" class="btn btn-light" (click)="logout()">Logout</button>
  </div>
</div>
<div class="books-container">
  <div class="book" *ngFor="let book of books">
    <div class="img-container">
      <img [src]="book.image_url ? book.image_url : '../../../../assets/logo.png'" class="img" alt="{{book.title}}"/>
    </div>
    <span class="title">{{book.title}}</span>
    <span class="author">{{book.author}}</span>
  </div>
</div>
